$base: #7ebdb4;
$important: #f6d198;
$warning: #f4a548;
$principal-font: Arial, Helvetica, sans-serif;
$secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$shadow: -14px 16px 35px -7px rgba(0,0,0,0.75);