$base-color: #4053ff;
$base-color2: #fc36ff;
$base-color3: #36ff4a;

@mixin applyFlex($direction) {
    display: flex;
    flex-direction: $direction;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    height: 100px;
    width: 100px;
    border-radius: 7px 7px 7px 7px;
}
.container-1 {
    @include applyFlex(row);
    .base-color {
        background-color: $base-color;
    }
    @for $i from 1 through 4 {
        .darken#{$i} {
            background-color: darken($color: $base-color, $amount: $i * 5);
        }
        .lighten#{$i} {
            background-color: lighten($color: $base-color, $amount: $i * 5);
        }       
    }
}
.container-2 {
    @include applyFlex(row);
    .base-color {
        background-color: $base-color2;
    }
    @for $i from 1 through 4 {
        .darken#{$i} {
            background-color: darken($color: $base-color2, $amount: $i * 5);
        }
        .lighten#{$i} {
            background-color: lighten($color: $base-color2, $amount: $i * 5);
        }
    }
}
.container-3 {
    @include applyFlex(row);
    .base-color {
        background-color: $base-color3;
    }
    @for $i from 1 through 4 {
        .darken#{$i} {
            background-color: darken($color: $base-color3, $amount: $i * 5);
        }
        .lighten#{$i} {
            background-color: lighten($color: $base-color3, $amount: $i * 5);
        }
    }
}
